@import './variable.scss';

.primary-shadow {
  box-shadow: 0px 2px 4px 0px #00000014;
}

.black-color {
  color: $black;
}

.grey-color {
  color: $grey;
}

.grey-wolf-color {
  color: $grey-wolf;
}

.polar-bear-color {
  color: $polar-bear;
}

.white-color {
  color: $white;
}

.caramel-color {
  color: $caramel;
}

.vannila-color {
  color: $vannila;
}

.cheesecake-color {
  color: $cheesecake;
}

.sweets-color {
  color: $sweets;
}

.blue-color {
  color: $blue;
}

.blue-m-color {
  color: $blue-m;
}

.blue-l-color {
  color: $blue-l;
}

.green-color {
  color: $green;
}

.green-l-color {
  color: $green-l;
}

.red-color {
  color: $red;
}

.sherbet-color {
  color: $sherbet;
}

.pumpkin-color {
  color: $pumpkin;
}

.black-bg {
  background-color: $black;
}

.grey-bg {
  background-color: $grey;
}

.grey-wolf-bg {
  background-color: $grey-wolf;
}

.polar-bear-bg {
  background-color: $polar-bear;
}

.white-bg {
  background-color: $white;
}

.caramel-bg {
  background-color: $caramel;
}

.vannila-bg {
  background-color: $vannila;
}

.cheesecake-bg {
  background-color: $cheesecake;
}

.sweets-bg {
  background-color: $sweets;
}

.blue-bg {
  background-color: $blue;
}

.blue-m-bg {
  background-color: $blue-m;
}

.blue-l-bg {
  background-color: $blue-l;
}

.green-bg {
  background-color: $green;
}

.green-l-bg {
  background-color: $green-l;
}

.red-bg {
  background-color: $red;
}

.sherbet-bg {
  background-color: $sherbet;
}

.pumpkin-bg {
  background-color: $pumpkin;
}