@import './variable.scss';
@import './color.scss';
@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&family=Kanit:wght@100;200;300;400;500;600;700;800&family=Play:wght@400;700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $vannila;
  min-height: 100vh;
  font-family: 'Anuphan', sans-serif;
  overflow: hidden;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
button {
  display: block;
  margin: 0;
  padding: 0;
}

p {
  font-size: 16px;
  font-weight: 400;
}

.display-1 {
  font-size: 30px;
}

.display-1-responsive {
  font-size: 30px;
  @media (max-width: $size-mobile) {
    font-size: 24px;
  }
}

.display-2 {
  font-size: 24px;
}

.display-3 {
  font-size: 20px;
}

.display-sm {
  font-size: 12px;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.custom-p {
  font-size: 16px;
  font-weight: 400;
}

.font-600 {
  font-weight: 600;
}

.font-700 {
  font-weight: 700;
}

.responsive-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#app {
  height: 100dvh;
}

.custom-slider {
  .vue-slider-dot-handle {
    background-color: $blue;
    border: 6px solid $white;
  }

  .vue-slider-dot-tooltip-bottom {
    bottom: -4px;
  }

  .vue-slider-dot-handle-focus {
    box-shadow: 0.5px 0.5px 2px 1px #00000052 !important;
  }

  .vue-slider-rail {
    background-color: $blue-l;
  }

  .vue-slider-process {
    background-color: $blue;
  }
}

@each $size, $value in $size-list-fixed {
  @if $size !=auto {
    .fs-#{$size} {
      font-size: $value;
    }
    @media (max-width: 960px) {
      .fs-#{$size} {
        font-size: calc($value - 3px);
      }
    }
  }

  .p-#{$size} {
    padding: $value;
  }

  .pt-#{$size} {
    padding-top: $value !important;
  }

  .pr-#{$size} {
    padding-right: $value;
  }

  .pb-#{$size} {
    padding-bottom: $value;
  }

  .pl-#{$size} {
    padding-left: $value;
  }

  .m-#{$size} {
    margin: $value;
  }

  .gap-#{$size} {
    gap: $value;
  }

  .mx-#{$size} {
    margin-left: $value;
    margin-right: $value;
  }

  .mt-#{$size} {
    margin-top: $value;
  }

  .mr-#{$size} {
    margin-right: $value;
  }

  .mb-#{$size} {
    margin-bottom: $value;
  }

  .ml-#{$size} {
    margin-left: $value;
  }
}

.w-100 {
  width: 100%;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.mw-lg {
  max-width: $size-lg;
}

.pointer {
  cursor: pointer;
}

.over-flow {
  overflow: auto;
}

.btn,
.primary-btn,
.secondary-btn,
.primary-btn-circle {
  cursor: pointer;
  font-weight: 600;
  border-radius: 6px;
  padding: 12px 28px;
  border: 0px;
}

.primary-btn,
.primary-btn-circle {
  color: $white;
  background-color: $blue;

  &:hover {
    background-color: #304592;
    transition: all 0.3s ease-in-out;
  }
}

.primary-btn-circle {
  border-radius: 50%;
  padding: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondary-btn {
  color: $blue;
  background-color: $blue-l;

  &:hover {
    background-color: #b0cff4;
    transition: all 0.3s ease-in-out;
  }
}

.card,
.card-blue-l {
  background-color: $white;
  box-shadow: 0px 2px 4px 0px #00000014;
  padding: 32px;
  border-radius: 10px;
}

.card-blue-l {
  background-color: $blue-l;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
}

.flex-end {
  display: flex;
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}

.flex-column,
.flex-column-center,
.flex-column-start {
  display: flex;
  flex-direction: column;
}

.flex-column-center {
  align-items: center;
}

.flex-column-start {
  align-items: start;
}

.justify-between {
  justify-content: space-between;
}

.no-wrap {
  white-space: nowrap;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes pop-hide {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.rotate-animation {
  animation: rotate 1s infinite linear;
}

.pop-hide-animation {
  animation: pop-hide 1s ease-in-out;
}

.none {
  display: none;
}

.block {
  display: block;
}

.line-through {
  text-decoration: line-through;
}
