$size-tablet: 960px;
$size-mobile: 600px;
$size-xl: 1920px;
$size-lg: 1280px;
$size-sm: 375px;

// xs: 0px (extra small devices)
// sm: 600px (small devices)
// md: 960px (medium devices)
// lg: 1280px (large devices)
// xl: 1920px (extra large devices)

$black: #000000;
$grey: #8b8b8b;
$grey-wolf: #c7c7c7;

$polar-bear: #f0f0f0;
$white: #ffffff;
$caramel: #ffeedb;
$vannila: #fff6ec;
$cheesecake: #ffeded;
$sweets: #ffd8cc;

$blue: #4c71f1;
$blue-m: #afd4ff;
$blue-l: #deedff;

$green: #00af70;
$green-l: #d1ffef;

$red: #f34336;
$sherbet: #ed6238;
$pumpkin: #ff9d2b;

$size-list-fixed: (
  auto: auto,
  0: 0px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 5px,
  6: 6px,
  7: 7px,
  8: 8px,
  9: 9px,
  10: 10px,
  11: 11px,
  12: 12px,
  13: 13px,
  14: 14px,
  15: 15px,
  16: 16px,
  17: 17px,
  18: 18px,
  19: 19px,
  20: 20px,
  21: 21px,
  22: 22px,
  24: 24px,
  25: 25px,
  26: 26px,
  28: 28px,
  30: 30px,
  31: 31px,
  32: 32px,
  34: 34px,
  35: 35px,
  36: 36px,
  38: 38px,
  39: 39px,
  40: 40px,
  41: 41px,
  42: 42px,
  43: 43px,
  44: 44px,
  45: 45px,
  46: 46px,
  47: 47px,
  48: 48px,
  49: 49px,
  50: 50px
);
